/* Lists */

ul{
    margin: 0;
    padding: 0;
}

/* Container */

.pushy-body {
	position: relative;
}

/* Menu Button */

.menu-btn{
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

.menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}

.pushy-nav{
    font-size: 0.9em;
    font-weight: bold;
}

.pushy-nav a{
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.pushy-nav a:hover{
    background: #00b4ff;
    color: #FFF;
}